body, html{padding:0;margin:0; overflow-x: hidden;}
*{font-family:'PT Serif',serif}


@media (min-width: 320px) {
    .btn_white_order{width:80%;height:50px;background:#FFF;border-radius:25px; font-size: 14px}
.btn_white_order:hover{color:#fff;background:#7EC25A;transition:.5s}
#eat_post_sec{padding-top:0}
.box_img{width:80%}
#sec_seven{padding-bottom:150px}
.app_btns{z-index:999;width:180px}
.green_block{position:absolute;bottom:120px;left:-20px}
.green_block_2{position:absolute;top:-100px;right:10px}
.app_bg{z-index:-1;width:100%}
.bookmark_top{position:absolute;top:0;left:50px;width:30px}
#apps_sec{background:#7EC25A;border-radius:32px;margin-top:70px;padding-left:30px}
.hand_smart{z-index:1;width:330px}
.apps_text{font-family:PT Serif;font-style:normal;font-weight:400;font-size:2rem;line-height:35px;letter-spacing:.05em;text-transform:uppercase;color:#FFF}
.apps_minitext{font-family:PT Serif;font-style:italic;font-weight:400;font-size:2rem;line-height:4rem;color:rgba(255,255,255,0.5)}
.sec_two_img{width:190px}
.post_calendar{width:50px;position:relative;top:9px}
.post_control_left_mob{width:70px;margin-right:10px}
.post_control_right_mob{width:70px;margin-left:10px}
.text_faq{font-size:18px}
.zakaz_footer{margin-top:5px!important}
.btn_soc{border-radius:32px}
.instagram_review{margin-left:10px}
.apps_btn{z-index:999;position:absolute;bottom:200px;left:0}
.playmarket_btn{z-index:999;position:absolute;bottom:192px;left:0}
.review_img{width:100%}
.sec_two_mar{margin-right:0;margin-left:0}
.sec_one_mar{margin-right:0;margin-left:0}
.line_nav{width:100%;height:2px;background:rgba(184,184,184,0.2)}
#sec_one{height:100%;padding-top:0px;padding-bottom:0;background:linear-gradient(180deg,rgba(17,16,14,0) 0%,rgba(17,16,14,0.1) 100%),linear-gradient(180deg,rgba(17,16,14,0.25) 0%,rgba(17,16,14,0) 100%),linear-gradient(0deg,rgba(17,16,14,0.1),rgba(17,16,14,0.1)),url(../img/bg_one_mob.jpg) no-repeat;background-size:cover;border-radius:0 0 32px 32px}
.review_text{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.875rem;text-align:justify}
.post_control_left{position:absolute;top:-580px;left:-150px}
.post_control_right{position:absolute;top:-580px;right:-150px}
.review_control_left{position:absolute;top:-580px;left:-100px}
.review_control_right{position:absolute;top:-580px;right:-100px}
#sec_two{height:100%;padding-top:6.875rem;padding-bottom:20px;background:#fff}
#sec_three{height:100%;padding-top:2.875rem;padding-bottom:50px;background:#fff}
#sec_four{height:100%;padding-top:11.875rem;padding-bottom:.9rem;background:url(/img/bg_review.jpg) no-repeat;background-color:#fff}
#sec_five{height:100%;padding-top:15.875rem;padding-bottom:3.875rem;}
#sec_six{height:100%;background:linear-gradient(180deg,rgba(17,16,14,0.25) 0%,rgba(17,16,14,0) 100%),linear-gradient(0deg,rgba(17,16,14,0.2),rgba(17,16,14,0.2)),url(../img/bg_one.jpg) no-repeat;background-size:cover;border-radius:32px 32px 0 0;padding-bottom:1.875rem}
.mar_sec_four{margin-right:0;margin-left:0}
.title_sec_two{font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.6rem;line-height:34px;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.title_sec_three{font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.3rem;line-height:34px;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.pt-140{padding-top:200px}
.text_sec_two{margin-top:1.875rem;font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.5rem;line-height:40px;text-align:center;color:#000}
.bg_eat_rel{position:relative}
.bg_apps_rel{position:relative;width:100%}
.bg_eat_1{width:140px;position:absolute;right:0;top:-190px}
.bg_eat_2{width:110px;position:absolute;left:0;top:-70px}
.bg_eat_3{width:100px;position:absolute;right:0;top:260px;z-index:9}
.bg_eat_4{width:180px;position:absolute;left:-10px;top:-170px;z-index:9}
.bg_eat_5{width:140px;position:absolute;right:0;top:-70px;z-index:9}
.bg_eat_6{width:180px;position:absolute;left:0;top:40px;z-index:9}
.bg_eat_7{width:140px;position:absolute;right:0;top:-50px;z-index:9}
.bg_eat_8{width:120px;position:absolute;left:0;top:-40px;z-index:9}
.bg_eat_9{width:70px;position:absolute;right:0;top:-50px;z-index:9}
.phone_pos{position:absolute;left:45px;top:-10px;width:40px}
.blur_btn{position:relative;background:rgba(48,48,48,0.52);border-radius:32px;padding:10px 25px}
.mini_text_title_two{font-family:PT Serif;font-style:italic;font-weight:400;font-size:1rem;line-height:32px;text-align:center}
.green{color:#7EC25A}
.img_logo{width:125px}
.upper{text-transform:uppercase}
.white{color:#fff}
.title_sec_one{font-size:2.5rem}
.nav_size{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:36px;text-align:center;letter-spacing:.1em;text-transform:uppercase;color:#fff}
.nav_size:hover{color:#fff}
.nav_mar_left{margin-left:20px;line-height:36px}
.nav_mar_right{margin-right:20px;line-height:36px}
.mini_text_title{font-size:1.2rem;line-height:30px}
.relative{position:relative}
.btn_white{width:270px;height:50px;background:#FFF;border-radius:25px}
.btn_white:hover{color:#fff;background:#7EC25A;transition:.5s}
.btn_green{width:270px;height:50px;background:#7EC25A;border-radius:25px;color:#fff}
.btn_green:hover{color:#7EC25A;border:#7EC25A solid 1px;background:#fff;transition:.5s}
.sec_one_btn{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:19px;text-align:center;letter-spacing:.05em;text-transform:uppercase;color:#000}
.post_category{font-family:PT Serif;font-style:normal;font-weight:400;font-size:12px;line-height:19px;color:#fff;position:absolute;top:-70px;left:45px;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.post_block{border:#e5e5e5 solid 1px!important;border-radius:32px;padding:20px}
.post_img{border-radius:32px}
.post_text{font-size:1rem;text-align:left}
.post_details{font-family:PT Serif;font-style:normal;font-weight:700;font-size:14px;line-height:18px;text-align:center;margin-top:15px}
.post_date_text{position:absolute;top:30px;left:15px;font-family:PT Serif;font-style:normal;font-weight:400;font-size:.9rem;line-height:32px;text-align:center}
.border_l{border-left:0}
.phone_header{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:36px;text-align:center;letter-spacing:.1em;text-transform:uppercase;color:#FFF}
.sec_one_arrowdown{position:relative;padding-top:40px}
.review_block{border:1px solid rgba(0,0,0,0.05);padding:30px;border-radius:32px}
.review_block_center{border:1px solid rgba(0,0,0,0.15);padding:30px;border-radius:32px;background:#f8f8f8}
.insta_nik{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.5rem;color:rgba(0,0,0,0.25)}
.review_name{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.5rem}
.panel-heading{border:0}
.panel{margin-bottom:1.875rem;padding:25px;border:1px solid rgba(0,0,0,0.1);box-sizing:border-box;border-radius:32px}
.panel-title > a,.panel-title > a:active{font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.4rem;line-height:1.2rem;color:#000}
.panel-title a{text-decoration:none}
.panel-title a:hover{color:#7EC25A}
.panel.active a{color:#7EC25A}
.panel-heading a:before{content:url('../img/arrow_down_faq.svg');float:right;transition:all .5s}
.panel-heading.active a:before{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.price_1{font-family:PT Serif;font-style:italic;font-weight:400;font-size:36px;line-height:3rem;text-align:center;text-decoration-line:line-through;color:rgba(0,0,0,0.25)}
.price_2{font-family:PT Serif;font-style:italic;font-weight:400;font-size:36px;line-height:3rem;text-align:center;color:#7EC25A}
}


@media (min-width: 576px) {}


@media (min-width: 768px) {
    .btn_white_order{width:80%;height:50px;background:#FFF;border-radius:25px}
.btn_white_order:hover{color:#fff;background:#7EC25A;transition:.5s}
.apple{position:absolute;top:-135px;right:70px}
#eat_post_sec{padding-top:100px}
.box_img{width:80%}
#sec_seven{padding-bottom:150px}
.app_btns{z-index:999;width:180px}
.green_block{position:absolute;bottom:-70px;left:50px}
.green_block_2{position:absolute;top:-100px;right:160px}
.app_bg{z-index:-1;width:100%}
.bookmark_top{position:absolute;top:0;left:80px;width:40px}
#apps_sec{height:400px;background:#7EC25A;border-radius:32px;margin-top:70px;padding-left:80px}
.hand_smart{z-index:1;width:400px;position:absolute;bottom:-96px;right:40px}
.apps_text{font-family:PT Serif;font-style:normal;font-weight:400;font-size:2.3rem;line-height:35px;letter-spacing:.05em;text-transform:uppercase;color:#FFF}
.apps_minitext{font-family:PT Serif;font-style:italic;font-weight:400;font-size:2rem;line-height:4rem;color:rgba(255,255,255,0.5)}
.sec_two_img{width:190px}
.post_calendar{width:70px;position:relative;top:0}
.post_control_left_mob{width:70px;margin-right:10px}
.post_control_right_mob{width:70px;margin-left:10px}
.text_faq{font-size:18px}
.zakaz_footer{margin-top:5px!important}
.btn_soc{border-radius:32px}
.instagram_review{margin-left:20px}
.apps_btn{z-index:999;position:absolute;bottom:200px;left:0}
.playmarket_btn{z-index:999;position:absolute;bottom:192px;left:0}
.review_img{width:100%}
.sec_two_mar{margin-right:0;margin-left:0}
.sec_one_mar{margin-right:0;margin-left:0}
.line_nav{width:100%;height:2px;background:rgba(184,184,184,0.2)}
#sec_one{height:100%;padding-top:10px;padding-bottom:0;background:linear-gradient(180deg,rgba(17,16,14,0) 0%,rgba(17,16,14,0.1) 100%),linear-gradient(180deg,rgba(17,16,14,0.25) 0%,rgba(17,16,14,0) 100%),linear-gradient(0deg,rgba(17,16,14,0.1),rgba(17,16,14,0.1)),url(../img/bg_one_tablet.jpg);background-size:cover;border-radius:0 0 32px 32px}
.review_text{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.875rem;text-align:justify}
.post_control_left{position:absolute;top:-580px;left:-150px}
.post_control_right{position:absolute;top:-580px;right:-150px}
.review_control_left{position:absolute;top:-580px;left:-100px}
.review_control_right{position:absolute;top:-580px;right:-100px}
#sec_two{height:100%;padding-top:11.875rem;padding-bottom:50px;background:#fff}
#sec_three{height:100%;padding-top:11.875rem;padding-bottom:150px;background:#fff}
#sec_four{height:100%;padding-top:11.875rem;padding-bottom:1.875rem;background:url(/img/bg_review.jpg) no-repeat;background-color:#fff}
#sec_five{height:100%;padding-top:11.875rem;padding-bottom:11.875rem;}
#sec_six{height:100%;background:linear-gradient(180deg,rgba(17,16,14,0.25) 0%,rgba(17,16,14,0) 100%),linear-gradient(0deg,rgba(17,16,14,0.2),rgba(17,16,14,0.2)),url(../img/footer_bg.jpg) no-repeat;background-size:cover;border-radius:32px 32px 0 0;padding-bottom:1.875rem}
.mar_sec_four{margin-right:0;margin-left:0}
.title_sec_two{font-family:PT Serif;font-style:normal;font-weight:400;font-size:3rem;line-height:4rem;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.title_sec_three{font-family:PT Serif;font-style:normal;font-weight:400;font-size:2.5rem;line-height:4rem;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.pt-140{padding-top:60px}
.text_sec_two{margin-top:50px;font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.875rem;line-height:40px;text-align:center;color:#000}
.bg_eat_rel{position:relative}
.bg_apps_rel{position:relative}
.bg_eat_1{width:200px;position:absolute;right:0;top:-160px}
.bg_eat_2{width:170px;position:absolute;left:0;top:-70px}
.bg_eat_3{width:200px;position:absolute;right:0;top:-220px;z-index:9}
.bg_eat_4{width:240px;position:absolute;left:0;top:-260px;z-index:9}
.bg_eat_5{width:240px;position:absolute;right:0;top:-200px;z-index:9}
.bg_eat_6{width:200px;position:absolute;left:0;top:-100px;z-index:9}
.bg_eat_7{width:170px;position:absolute;right:0;top:-150px;z-index:9}
.bg_eat_8{width:180px;position:absolute;left:0;top:-160px;z-index:9}
.bg_eat_9{width:140px;position:absolute;right:0;top:-140px;z-index:9}
.phone_pos{position:absolute;left:45px;top:-10px;width:40px}
.blur_btn{position:relative;background:rgba(48,48,48,0.32);border-radius:32px;padding:20px 45px}
.mini_text_title_two{font-family:PT Serif;font-style:italic;font-weight:400;font-size:1.5rem;line-height:32px;text-align:center}
.green{color:#7EC25A}
.img_logo{width:155px}
.upper{text-transform:uppercase}
.white{color:#fff}
.title_sec_one{font-size:6rem}
.nav_size{font-family:PT Serif;font-style:normal;font-weight:400;font-size:12px;line-height:36px;text-align:center;letter-spacing:.1em;text-transform:uppercase;color:#fff}
.nav_size:hover{color:#fff}
.phone_header{font-family:PT Serif;font-style:normal;font-weight:400;font-size:12px;line-height:36px;text-align:center;letter-spacing:.1em;text-transform:uppercase;color:#FFF}
.nav_mar_left{margin-left:10px;line-height:36px}
.nav_mar_right{margin-right:20px;line-height:36px}
.mini_text_title{font-size:1.5rem;line-height:36px}
.relative{position:relative}
.btn_white{width:200px;height:50px;background:#FFF;border-radius:25px;font-size:12px}
.btn_white:hover{color:#fff;background:#7EC25A;transition:.5s}
.btn_green{width:270px;height:50px;background:#7EC25A;border-radius:25px;color:#fff}
.btn_green:hover{color:#7EC25A;border:#7EC25A solid 1px;background:#fff;transition:.5s}
.sec_one_btn{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:19px;text-align:center;letter-spacing:.05em;text-transform:uppercase;color:#000}
.post_category{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:19px;color:#fff;position:absolute;top:-100px;left:50px;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.post_block{border:#e5e5e5 solid 1px!important;border-radius:32px;padding:20px}
.post_img{border-radius:32px}
.post_text{font-size:1.875rem;text-align:left}
.post_details{font-family:PT Serif;font-style:normal;font-weight:700;font-size:14px;line-height:18px;text-align:center;margin-top:15px}
.post_date_text{position:absolute;top:38px;left:52px;font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.5rem;line-height:32px;text-align:center}
.border_l{border-left:0}
.sec_one_arrowdown{position:relative;padding-top:110px}
.review_block{border:1px solid rgba(0,0,0,0.05);padding:60px;border-radius:32px}
.review_block_center{border:1px solid rgba(0,0,0,0.15);padding:60px;border-radius:32px;background:#f8f8f8}
.insta_nik{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.5rem;color:rgba(0,0,0,0.25)}
.review_name{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.5rem}
.panel-heading{border:0}
.panel{margin-bottom:1.875rem;padding:25px;border:1px solid rgba(0,0,0,0.1);box-sizing:border-box;border-radius:32px}
.panel-title > a,.panel-title > a:active{font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.875rem;line-height:3rem;color:#000}
.panel-title a{text-decoration:none}
.panel-title a:hover{color:#7EC25A}
.panel.active a{color:#7EC25A}
.panel-heading a:before{content:url('../img/arrow_down_faq.svg');float:right;transition:all .5s}
.panel-heading.active a:before{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.price_1{font-family:PT Serif;font-style:italic;font-weight:400;font-size:36px;line-height:3rem;text-align:center;text-decoration-line:line-through;color:rgba(0,0,0,0.25)}
.price_2{font-family:PT Serif;font-style:italic;font-weight:400;font-size:36px;line-height:3rem;text-align:center;color:#7EC25A}
}


@media (min-width: 992px) {
    .btn_white_order{width:80%;height:50px;background:#FFF;border-radius:25px;font-size: 12px;}
.btn_white_order:hover{color:#fff;background:#7EC25A;transition:.5s}
    .t_none{display:none!important;}    
.apple{position:absolute;top:-65px;right:60px}
#eat_post_sec{padding-top:0}
.box_img{width:80%}
#sec_seven{padding-bottom:150px}
.app_btns{z-index:999;width:180px}
.green_block{position:absolute;bottom:-100px;left:70px}
.green_block_2{position:absolute;top:-100px;right:430px}
.app_bg{z-index:-1;width:100%}
.bookmark_top{position:absolute;top:0;left:80px;width:40px}
#apps_sec{height:400px;background:#7EC25A;border-radius:32px;margin-top:70px;padding-left:80px}
.hand_smart{z-index:1;width:450px;position:absolute;bottom:0;right:40px}
.apps_text{font-family:PT Serif;font-style:normal;font-weight:400;font-size:2.3rem;line-height:35px;letter-spacing:.05em;text-transform:uppercase;color:#FFF}
.apps_minitext{font-family:PT Serif;font-style:italic;font-weight:400;font-size:2rem;line-height:4rem;color:rgba(255,255,255,0.5)}
.sec_two_img{width:190px}
.post_calendar{width:70px;position:relative;top:0}
.post_control_left_mob{width:70px;margin-right:10px}
.post_control_right_mob{width:70px;margin-left:10px}
.text_faq{font-size:18px}
.zakaz_footer{margin-top:5px!important}
.btn_soc{border-radius:32px}
.instagram_review{margin-left:20px}
.apps_btn{z-index:999;position:absolute;bottom:200px;left:710px}
.playmarket_btn{z-index:999;position:absolute;bottom:192px;left:470px}
.review_img{width:100%}
.sec_two_mar{margin-right:0;margin-left:0}
.sec_one_mar{margin-right:0;margin-left:0}
.line_nav{width:100%;height:2px;background:rgba(184,184,184,0.2)}
#sec_one{height:100%;padding-top:10px;padding-bottom:0;background:linear-gradient(180deg,rgba(17,16,14,0) 0%,rgba(17,16,14,0.1) 100%),linear-gradient(180deg,rgba(17,16,14,0.25) 0%,rgba(17,16,14,0) 100%),linear-gradient(0deg,rgba(17,16,14,0.1),rgba(17,16,14,0.1)),url(../img/bg_one_tablet.jpg);background-size:cover;border-radius:0 0 32px 32px}
.review_text{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.875rem;text-align:justify}
.post_control_left{position:absolute;top:500px;left:140px}
.post_control_right{position:absolute;top:700px;right:140px}
.review_control_left{position:absolute;top:-580px;left:-100px}
.review_control_right{position:absolute;top:-580px;right:-100px}
#sec_two{height:100%;padding-top:7.875rem;padding-bottom: 100px;background:#fff}
#sec_three{height:100%;padding-top:4.875rem;padding-bottom:150px;background:#fff}
#sec_four{height:100%;padding-top:11.875rem;padding-bottom:1.875rem;background:url(/img/bg_review.jpg) no-repeat;background-color:#fff}
#sec_five{height:100%;padding-top:21.875rem;padding-bottom:5.875rem;}
#sec_six{height:100%;background:linear-gradient(180deg,rgba(17,16,14,0.25) 0%,rgba(17,16,14,0) 100%),linear-gradient(0deg,rgba(17,16,14,0.2),rgba(17,16,14,0.2)),url(../img/footer_bg.jpg) no-repeat;background-size:cover;border-radius:32px 32px 0 0;padding-bottom:1.875rem}
.mar_sec_four{margin-right:0px;margin-left:0px}
.title_sec_two{font-family:PT Serif;font-style:normal;font-weight:400;font-size:3rem;line-height:4rem;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.title_sec_three{font-family:PT Serif;font-style:normal;font-weight:400;font-size:3rem;line-height:4rem;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.pt-140{padding-top:110px}
.text_sec_two{margin-top:50px;font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.875rem;line-height:40px;text-align:center;color:#000}
.bg_eat_rel{position:relative}
.bg_apps_rel{position:relative;width:100%}
.bg_eat_1{width:240px;position:absolute;right:0;top:-220px}
.bg_eat_2{width:240px;position:absolute;left:0;top:-170px}
.bg_eat_3{width:240px;position:absolute;right:0;top:0px;z-index:9}
.bg_eat_4{width:340px;position:absolute;left:0;top:-260px;z-index:9}
.bg_eat_5{width:240px;position:absolute;right:0;top:-200px;z-index:9}
.bg_eat_6{width:300px;position:absolute;left:0;top:70px;z-index:9}
.bg_eat_7{width:200px;position:absolute;right:0;top:-50px;z-index:9}
.bg_eat_8{width:140px;position:absolute;left:0;top:-160px;z-index:9}
.bg_eat_9{width:140px;position:absolute;right:0;top:-140px;z-index:9}
.phone_pos{position:absolute;left:45px;top:-10px;width:40px}
.blur_btn{position:relative;background:rgba(48,48,48,0.32);border-radius:32px;padding:20px 45px}
.mini_text_title_two{font-family:PT Serif;font-style:italic;font-weight:400;font-size:1.5rem;line-height:32px;text-align:center}
.green{color:#7EC25A}
.img_logo{width:155px}
.upper{text-transform:uppercase}
.white{color:#fff}
.title_sec_one{font-size:6rem}
.nav_size{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:36px;text-align:center;letter-spacing:.1em;text-transform:uppercase;color:#fff}
.nav_size:hover{color:#fff}
.nav_mar_left{margin-left:20px;line-height:36px}
.nav_mar_right{margin-right:20px;line-height:36px}
.mini_text_title{font-size:1.5rem;line-height:36px}
.relative{position:relative}
.btn_white{width:270px;height:50px;background:#FFF;border-radius:25px}
.btn_white:hover{color:#fff;background:#7EC25A;transition:.5s}
.btn_green{width:270px;height:50px;background:#7EC25A;border-radius:25px;color:#fff}
.btn_green:hover{color:#7EC25A;border:#7EC25A solid 1px;background:#fff;transition:.5s}
.sec_one_btn{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:19px;text-align:center;letter-spacing:.05em;text-transform:uppercase;color:#000}
.post_category{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:19px;color:#fff;position:absolute;top:-100px;left:50px;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.post_block{border:#e5e5e5 solid 1px!important;border-radius:32px;padding:0}
.post_img{border-radius:32px}
.post_text{font-size:1.875rem;text-align:left}
.post_details{font-family:PT Serif;font-style:normal;font-weight:700;font-size:14px;line-height:18px;text-align:left;margin-top:15px}
.post_date_text{position:absolute;top:36px;left:47px;font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.5rem;line-height:32px;text-align:center}
.border_l{border-left:#e5e5e5 solid 2px}
.phone_header{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:36px;text-align:center;letter-spacing:.1em;text-transform:uppercase;color:#FFF}
.sec_one_arrowdown{position:relative;padding-top:110px}
.review_block{border:1px solid rgba(0,0,0,0.05);padding:60px;border-radius:32px}
.review_block_center{border:1px solid rgba(0,0,0,0.15);padding:60px;border-radius:32px;background:#f8f8f8}
.insta_nik{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.5rem;color:rgba(0,0,0,0.25)}
.review_name{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.5rem}
.panel-heading{border:0}
.panel{margin-bottom:1.875rem;padding:25px;border:1px solid rgba(0,0,0,0.1);box-sizing:border-box;border-radius:32px}
.panel-title > a,.panel-title > a:active{font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.875rem;line-height:3rem;color:#000}
.panel-title a{text-decoration:none}
.panel-title a:hover{color:#7EC25A}
.panel.active a{color:#7EC25A}
.panel-heading a:before{content:url('../img/arrow_down_faq.svg');float:right;transition:all .5s}
.panel-heading.active a:before{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.price_1{font-family:PT Serif;font-style:italic;font-weight:400;font-size:36px;line-height:3rem;text-align:center;text-decoration-line:line-through;color:rgba(0,0,0,0.25)}
.price_2{font-family:PT Serif;font-style:italic;font-weight:400;font-size:36px;line-height:3rem;text-align:center;color:#7EC25A}
}


@media (min-width: 1200px) {
    .btn_white_order{width:100%;height:50px;background:#FFF;border-radius:25px;font-size: 12px;}
.btn_white_order:hover{color:#fff;background:#7EC25A;transition:.5s}
    .faq_margin{margin-left: 200px; margin-right: 200px;}
    .t_none{display:block;}  
    .apple{position:absolute;top:-70px;right:210px}
#eat_post_sec{padding-top:0; margin-left: 250px; margin-right: 250px}
.box_img{width:80%}
#sec_seven{padding-bottom:150px}
.app_btns{z-index:999;width:180px}
.green_block{position:absolute;bottom:-70px;left:70px}
.green_block_2{position:absolute;top:-100px;right:430px}
.app_bg{z-index:-1;width:100%}
.bookmark_top{position:absolute;top:0;left:80px;width:40px}
#apps_sec{height:500px;background:#7EC25A;border-radius:32px;margin-top:70px;padding-left:80px}
.hand_smart{z-index:1;width:650px;position:absolute;bottom:0;right:40px}
.apps_text{font-family:PT Serif;font-style:normal;font-weight:400;font-size:3rem;line-height:35px;letter-spacing:.05em;text-transform:uppercase;color:#FFF}
.apps_minitext{font-family:PT Serif;font-style:italic;font-weight:400;font-size:2rem;line-height:4rem;color:rgba(255,255,255,0.5)}
.sec_two_img{width:190px}
.post_calendar{width:70px;position:relative;top:0}
.post_control_left_mob{width:70px;margin-right:10px}
.post_control_right_mob{width:70px;margin-left:10px}
.text_faq{font-size:18px}
.zakaz_footer{margin-top:5px!important}
.btn_soc{border-radius:32px}
.instagram_review{margin-left:20px}
.apps_btn{z-index:999;position:absolute;bottom:180px;left:470px;width:140px}
.playmarket_btn{z-index:999;position:absolute;bottom:180px;left:310px;width:140px}
.review_img{width:100%}
.sec_two_mar{margin-right:210px;margin-left:210px}
.sec_one_mar{margin-right:0;margin-left:0}
.line_nav{width:100%;height:2px;background:rgba(184,184,184,0.2)}
#sec_one{height:100%;padding-top:10px;padding-bottom:0;background:linear-gradient(180deg,rgba(17,16,14,0) 0%,rgba(17,16,14,0.1) 100%),linear-gradient(180deg,rgba(17,16,14,0.25) 0%,rgba(17,16,14,0) 100%),linear-gradient(0deg,rgba(17,16,14,0.1),rgba(17,16,14,0.1)),url(../img/bg_one.jpg);background-size:100%;border-radius:0 0 32px 32px}
.review_text{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:1.875rem;text-align:justify}
.post_control_left{position:absolute;top:-480px;left:-120px}
.post_control_right{position:absolute;top:-480px;right:-120px}
.review_control_left{position:absolute;top:-580px;left:-100px}
.review_control_right{position:absolute;top:-580px;right:-100px}
#sec_two{height:100%;padding-top:11.875rem;padding-bottom:50px;background:#fff}
#sec_three{height:100%;padding-top:11.875rem;padding-bottom:150px;background:#fff}
#sec_four{height:100%;padding-top:11.875rem;padding-bottom:1.875rem;background:url(/img/bg_review.jpg) no-repeat;background-color:#fff}
#sec_five{height:100%;padding-top:11.875rem;padding-bottom:11.875rem;}
#sec_six{height:100%;background:linear-gradient(180deg,rgba(17,16,14,0.25) 0%,rgba(17,16,14,0) 100%),linear-gradient(0deg,rgba(17,16,14,0.2),rgba(17,16,14,0.2)),url(../img/footer_bg.jpg) no-repeat;background-size:cover;border-radius:32px 32px 0 0;padding-bottom:1.875rem}
.mar_sec_four{margin-right:6.875rem;margin-left:6.875rem}
.title_sec_two{font-family:PT Serif;font-style:normal;font-weight:400;font-size:3rem;line-height:4rem;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.title_sec_three{font-family:PT Serif;font-style:normal;font-weight:400;font-size:3rem;line-height:4rem;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.pt-140{padding-top:1.875rem}
.text_sec_two{margin-top:50px;font-family:PT Serif;font-style:normal;font-weight:400;font-size:23px;line-height:40px;text-align:center;color:#000}
.bg_eat_rel{position:relative}
.bg_apps_rel{position:relative;width:100%}
.bg_eat_1{width:auto;position:absolute;right:0px;top:-150px;z-index:1}
.bg_eat_2{width:auto;position:absolute;left:0px;top:-370px;z-index:1}
.bg_eat_3{width:400px;position:absolute;right:-210px;top:-150px;z-index:1}
.bg_eat_4{width:auto;position:absolute;left:-10px;top:-260px;z-index:1}
.bg_eat_5{width:auto;position:absolute;right:0;top:-180px;z-index:1}
.bg_eat_6{width:auto;position:absolute;left:0;top:-180px;z-index:1}
.bg_eat_7{width:auto;position:absolute;right:0;top:-200px;z-index:-1}
.bg_eat_8{width:auto;position:absolute;left:0;top:-160px;z-index:1}
.bg_eat_9{width:auto;position:absolute;right:0;top:-90px;z-index:1}
.phone_pos{position:absolute;left:45px;top:-10px;width:40px}
.blur_btn{position:relative;background:rgba(48,48,48,0.32);border-radius:32px;padding:20px 45px}
.mini_text_title_two{font-family:PT Serif;font-style:italic;font-weight:400;font-size:1.5rem;line-height:32px;text-align:center}
.green{color:#7EC25A}
.img_logo{width:115px}
.upper{text-transform:uppercase}
.white{color:#fff}
.title_sec_one{font-size:66px}
.nav_size{font-family:PT Serif;font-style:normal;font-weight:400;font-size:16px;line-height:36px;text-align:center;letter-spacing:.1em;text-transform:uppercase;color:#fff}
.nav_size:hover{color:#fff}
.nav_mar_left{margin-left:20px;line-height:36px}
.nav_mar_right{margin-right:20px;line-height:36px}
.mini_text_title{font-size:22px;line-height:36px}
.relative{position:relative}
.btn_white{width:270px;height:50px;background:#FFF;border-radius:25px}
.btn_white:hover{color:#fff;background:#7EC25A;transition:.5s}
.btn_green{width:270px;height:50px;background:#7EC25A;border-radius:25px;color:#fff}
.btn_green:hover{color:#7EC25A;border:#7EC25A solid 1px;background:#fff;transition:.5s}
.sec_one_btn{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:19px;text-align:center;letter-spacing:.05em;text-transform:uppercase;color:#000}
.post_category{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:19px;color:#fff;position:absolute;top:-100px;left:50px;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.post_block{border:#e5e5e5 solid 1px!important;border-radius:32px;padding:0}
.post_img{border-radius:32px}
.post_text{font-size:1.875rem;text-align:left}
.post_details{font-family:PT Serif;font-style:normal;font-weight:700;font-size:12px;line-height:18px;text-align:left;margin-top:15px}
.post_date_text{position:absolute;top:40px;left:38px;font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:32px;text-align:center}
.border_l{border-left:#e5e5e5 solid 2px}
.phone_header{font-family:PT Serif;font-style:normal;font-weight:400;font-size:16px;line-height:36px;text-align:center;letter-spacing:.1em;text-transform:uppercase;color:#FFF}
.sec_one_arrowdown{position:relative;padding-top:70px}
.review_block{border:1px solid rgba(0,0,0,0.05);padding:60px;border-radius:32px}
.review_block_center{border:1px solid rgba(0,0,0,0.15);padding:60px;border-radius:32px;background:#f8f8f8}
.insta_nik{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.5rem;color:rgba(0,0,0,0.25)}
.review_name{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.5rem}
.panel-heading{border:0}
.panel{margin-bottom:1.875rem;padding:20px;z-index:111;border:1px solid rgba(0,0,0,0.1);box-sizing:border-box;border-radius:32px}
.panel-title > a,.panel-title > a:active{font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.875rem;line-height:3rem;color:#000}
.panel-title a{text-decoration:none}
.panel-title a:hover{color:#7EC25A}
.panel.active a{color:#7EC25A}
.panel-heading a:before{content:url('../img/arrow_down_faq.svg');float:right;transition:all .5s}
.panel-heading.active a:before{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.price_1{font-family:PT Serif;font-style:italic;font-weight:400;font-size:36px;line-height:3rem;text-align:center;text-decoration-line:line-through;color:rgba(0,0,0,0.25)}
.price_2{font-family:PT Serif;font-style:italic;font-weight:400;font-size:36px;line-height:3rem;text-align:center;color:#7EC25A}
}


@media (min-width: 1800px) {

    .btn_white_order{width:100%;height:50px;background:#FFF;border-radius:25px;font-size: 14px;}
.btn_white_order:hover{color:#fff;background:#7EC25A;transition:.5s}
    .t_none{display:block!important;}  
#eat_post_sec{padding-top:0}
.box_img{width:80%}
#sec_seven{padding-bottom:150px}
.app_btns{z-index:999;width:180px}
.green_block{position:absolute;bottom:-70px;left:70px}
.green_block_2{position:absolute;top:-100px;right:430px}
.app_bg{z-index:-1;width:100%}
.bookmark_top{position:absolute;top:0;left:80px;width:40px}
#apps_sec{height:500px;background:#7EC25A;border-radius:32px;margin-top:70px;padding-left:80px}
.hand_smart{z-index:1;width:670px;position:absolute;bottom:0;right:20px}
.apps_text{font-family:PT Serif;font-style:normal;font-weight:400;font-size:3rem;line-height:35px;letter-spacing:.05em;text-transform:uppercase;color:#FFF}
.apps_minitext{font-family:PT Serif;font-style:italic;font-weight:400;font-size:48px;line-height:4rem;color:rgba(255,255,255,0.5)}
.sec_two_img{width:190px}
.post_calendar{width:70px;position:relative;top:0}
.post_control_left_mob{width:70px;margin-right:10px}
.post_control_right_mob{width:70px;margin-left:10px}
.text_faq{font-size:18px}
.zakaz_footer{margin-top:5px!important}
.btn_soc{border-radius:32px}
.apple{position:absolute;top:-70px;right:470px}
.instagram_review{margin-left:10px}
.apps_btn{z-index:999;position:absolute;bottom:240px;left:710px;width:200px}
.playmarket_btn{z-index:999;position:absolute;bottom:240px;left:470px;width:200px}
.review_img{width:100%}
.sec_two_mar{margin-right:210px;margin-left:210px}
.sec_one_mar{margin-right:150px;margin-left:150px}
.line_nav{width:100%;height:2px;background:rgba(184,184,184,0.2)}
#sec_one{height:100%;padding-top:10px;padding-bottom:0;background:linear-gradient(180deg,rgba(17,16,14,0) 0%,rgba(17,16,14,0.1) 100%),linear-gradient(180deg,rgba(17,16,14,0.25) 0%,rgba(17,16,14,0) 100%),linear-gradient(0deg,rgba(17,16,14,0.1),rgba(17,16,14,0.1)),url(../img/bg_one.jpg);background-size:100%;border-radius:0 0 32px 32px}
.review_text{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.875rem;text-align:justify}
.post_control_left{position:absolute;top:-580px;left:-11.875rem}
.post_control_right{position:absolute;top:-580px;right:-150px}
.review_control_left{position:absolute;top:-580px;left:-100px}
.review_control_right{position:absolute;top:-580px;right:-100px}
#sec_two{height:100%;padding-top:11.875rem;padding-bottom:50px;background:#fff}
#sec_three{height:100%;padding-top:11.875rem;padding-bottom:150px;background:#fff}
#sec_four{height:100%;padding-top:11.875rem;padding-bottom:1.875rem;background:url(/img/bg_review.jpg) no-repeat;background-color:#fff}
#sec_five{height:100%;padding-top:5.875rem;padding-bottom:11.875rem;}
#sec_six{height:100%;background:linear-gradient(180deg,rgba(17,16,14,0.25) 0%,rgba(17,16,14,0) 100%),linear-gradient(0deg,rgba(17,16,14,0.2),rgba(17,16,14,0.2)),url(../img/footer_bg.jpg) no-repeat;background-size:cover;border-radius:32px 32px 0 0;padding-bottom:1.875rem}
.mar_sec_four{margin-right:250px;margin-left:250px}
.title_sec_two{font-family:PT Serif;font-style:normal;font-weight:400;font-size:3rem;line-height:4rem;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.title_sec_three{font-family:PT Serif;font-style:normal;font-weight:400;font-size:3rem;line-height:4rem;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.pt-140{padding-top:110px}
.text_sec_two{margin-top:50px;font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.875rem;line-height:40px;text-align:center;color:#000}
.bg_eat_rel{position:relative}
.bg_apps_rel{position:relative;width:100%}
.bg_eat_1{width:auto;position:absolute;right:-0px;top:-150px;z-index:1}
.bg_eat_2{width:auto;position:absolute;left:0px;top:-370px}
.bg_eat_3{width:auto;position:absolute;right:-210px;top:100px;z-index:1}
.bg_eat_4{width:auto;position:absolute;left:-10px;top:-260px;z-index:9}
.bg_eat_5{width:auto;position:absolute;right:0;top:-200px;z-index:9}
.bg_eat_6{width:auto;position:absolute;left:0;top:-220px;z-index:9}
.bg_eat_7{width:auto;position:absolute;right:0;top:-200px;z-index:9}
.bg_eat_8{width:auto;position:absolute;left:0;top:-60px;z-index:9}
.bg_eat_9{width:auto;position:absolute;right:0;top:-290px;z-index:9}
.phone_pos{position:absolute;left:45px;top:-10px;width:40px}
.blur_btn{position:relative;background:rgba(48,48,48,0.32);border-radius:32px;padding:20px 45px}
.mini_text_title_two{font-family:PT Serif;font-style:italic;font-weight:400;font-size:1.5rem;line-height:32px;text-align:center}
.green{color:#7EC25A}
.img_logo{width:155px}
.upper{text-transform:uppercase}
.white{color:#fff}
.title_sec_one{font-size:6rem}
.nav_size{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:36px;text-align:center;letter-spacing:.1em;text-transform:uppercase;color:#fff}
.nav_size:hover{color:#fff}
.nav_mar_left{margin-left:20px;line-height:36px}
.nav_mar_right{margin-right:20px;line-height:36px}
.mini_text_title{font-size:1.5rem;line-height:36px}
.relative{position:relative}
.btn_white{width:270px;height:50px;background:#FFF;border-radius:25px}
.btn_white:hover{color:#fff;background:#7EC25A;transition:.5s}
.btn_green{width:270px;height:50px;background:#7EC25A;border-radius:25px;color:#fff}
.btn_green:hover{color:#7EC25A;border:#7EC25A solid 1px;background:#fff;transition:.5s}
.sec_one_btn{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:19px;text-align:center;letter-spacing:.05em;text-transform:uppercase;color:#000}
.post_category{font-family:PT Serif;font-style:normal;font-weight:400;font-size:14px;line-height:19px;color:#fff;position:absolute;top:-100px;left:50px;text-align:center;letter-spacing:.05em;text-transform:uppercase}
.post_block{border:#e5e5e5 solid 1px!important;border-radius:32px;padding:0}
.post_img{border-radius:32px}
.post_text{font-size:1.875rem;text-align:left}
.post_details{font-family:PT Serif;font-style:normal;font-weight:700;font-size:14px;line-height:18px;text-align:left;margin-top:15px}
.post_date_text{position:absolute;top:38px;left:60px;font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.5rem;line-height:32px;text-align:center}
.border_l{border-left:#e5e5e5 solid 2px}
.phone_header{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:36px;text-align:center;letter-spacing:.1em;text-transform:uppercase;color:#FFF}
.sec_one_arrowdown{position:relative;padding-top:100px}
.review_block{border:1px solid rgba(0,0,0,0.05);padding:60px;border-radius:32px}
.review_block_center{border:1px solid rgba(0,0,0,0.15);padding:60px;border-radius:32px;background:#f8f8f8}
.insta_nik{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.5rem;color:rgba(0,0,0,0.25)}
.review_name{font-family:PT Serif;font-style:normal;font-weight:400;font-size:18px;line-height:1.5rem}
.panel-heading{border:0}
.panel{margin-bottom:1.875rem;padding:25px;border:1px solid rgba(0,0,0,0.1);box-sizing:border-box;border-radius:32px}
.panel-title > a,.panel-title > a:active{font-family:PT Serif;font-style:normal;font-weight:400;font-size:1.875rem;line-height:3rem;color:#000}
.panel-title a{text-decoration:none}
.panel-title a:hover{color:#7EC25A}
.panel.active a{color:#7EC25A}
.panel-heading a:before{content:url('../img/arrow_down_faq.svg');float:right;transition:all .5s}
.panel-heading.active a:before{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.price_1{font-family:PT Serif;font-style:italic;font-weight:400;font-size:36px;line-height:3rem;text-align:center;text-decoration-line:line-through;color:rgba(0,0,0,0.25)}
.price_2{font-family:PT Serif;font-style:italic;font-weight:400;font-size:36px;line-height:3rem;text-align:center;color:#7EC25A}
}

.btn_green_order{width:100%;height:50px;background:#7EC25A;border-radius:25px;color:#fff}
.btn_green_order:hover{color:#7EC25A;border:#7EC25A solid 1px;background:#fff;transition:.5s}

