@font-face {
  font-family: "opensans";
  src: url(../font/OpenSans-Regular.ttf); }

@font-face {
  font-family: "lato";
  src: url(../font/Lato-Regular.ttf); }

@font-face {
  font-family: "lato-black";
  src: url(../font/Lato-Black.ttf); }

@font-face {
  font-family: "regal";
  src: url(../font/PFRegalDisplayPro-Bold.ttf); }

@font-face {
  font-family: "regal-black";
  src: url(../font/PFRegalDisplayPro-UBlack.ttf); }

@font-face {
  font-family: "amatic";
  src: url(../font/AmaticSC-Bold.ttf); }
